#content {
    width: 300px; 
   max-width: 300px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

#result {
    margin-top: 1rem;
}

#meme {
    width: 100%;
}

/* #preview,
#download {
    margin: 20px auto;
    border: 0;
    display: block;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    width: 100px;
} */
.button-width{
    margin-top: .8rem;
    max-width: 300px;
}

#preview {
    float: left;
    margin-right: 8vh;
}

#download {
    float: right;
}

/* #container {
    text-align: left;
    width: 300px;
    margin: auto;
} */

#content {
    background-color: white;
}

.drawimg {
    width: 300px;
    margin: auto;
}

.edit {
    padding: 0 6px 10px 6px;
    max-width: 300px;
}

.message-text {
    color: #4a4a4a;
    margin: .3rem;
}