#cntVengeful {
  width: 300px; 
  max-width: 300px;
  background-color: white;
}

#result {
  margin-top: 1rem;
}

#meme {
  width: 100%;
}

.button-width{
  margin-top: .8rem;
  max-width: 300px;
}
.video {
  border-radius: 4px;
  margin-bottom: 0.6rem;
}

#preview {
  float: left;
  margin-right: 8vh;
}

#download {
  float: right;
}


.drawimg {
  width: 300px;
  margin: auto;
}

.edit {
  padding: 0 6px 10px 6px;
  max-width: 300px;
}

.message-text {
  color: #4a4a4a;
  margin: .3rem;
}

#gifMeme {
  width: 400px;
  border-radius: 5px;
  margin-bottom: 0.7rem;
}
#success-notification{
  display: none;
}
#progress{
  display: none;
}
.is-link {
  border-color:#2196f3!important;
}
#success-notification{
  position: fixed;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  z-index: 1;
  margin-bottom: 0px;
  line-height: 1.8rem;
  left: 0px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1088px){
  #success-notification{
    position: fixed;
    justify-content: space-between;
    align-items: center;
    line-height: 22px;
    padding: 18px 24px;
    z-index: 1;
    min-width: 16rem;
    max-width: 24rem;
    width: 18rem;
    margin-bottom: 0px;
    margin: 2rem;
  }
}
