#cntVengeful {
  width: 300px; 
  max-width: 300px;
  background-color: white;
}

#result {
  margin-top: 1rem;
}

#meme {
  width: 100%;
}

.button-width{
  margin-top: .8rem;
  max-width: 300px;
}
.video {
  border-radius: 4px;
  margin-bottom: 0.6rem;
}

#preview {
  float: left;
  margin-right: 8vh;
}

#download {
  float: right;
}


.drawimg {
  width: 300px;
  margin: auto;
}

.edit {
  padding: 0 6px 10px 6px;
  max-width: 300px;
}

.message-text {
  color: #4a4a4a;
  margin: .3rem;
}

#gifMeme {
  width: 400px;
}